{% extends  "::base.html.twig" %}

{% block nav %}
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            Trening wspinaczkowy
        </a>
        {% block links %}
            {% if is_granted("ROLE_USER") %}
                <form class="form-inline">
                    <a class="btn btn-outline-info btn-sm mr-2" href="/item/new">Dodaj przedmiot</a>
                    <a class="btn btn-outline-success mr-2" href="/profile/">Mój profil</a>
                    <a class="btn align-middle btn-outline-primary" href="/logout ">Wyloguj</a>
                </form>

            {% else %}
                <form class="form-inline">
                    <a class="btn btn-outline-success mr-2" href="/login">Zaloguj</a>
                    <a class="btn align-middle btn-outline-primary" href="/register/">Rejestracja</a>
                </form>
            {% endif %}


        {% endblock %}
    </nav>

{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
    <!-- Footer -->
    <div class="container bg-dark text-white rounded navbar fixed-bottom">
        <div class="font-weight-light mx-auto">"Trening wspinaczkowy" Eric J. Horst Copyright© 2017 by Wydawnictwo
            RM
        </div>
    </div>
{% endblock %}


