{% extends  "::base.html.twig" %}

{% block nav %}
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            Trening wspinaczkowy
        </a>
        {% block links %}
            {% if is_granted("ROLE_USER") %}
                <form class="form-inline">
                    <a class="btn btn-outline-success mr-2" href="/profile/">Mój profil</a>
                    <a class="btn align-middle btn-outline-primary" href="/logout ">Wyloguj</a>
                </form>

            {% else %}
                <form class="form-inline">
                    <a class="btn btn-outline-success mr-2" href="/login">Zaloguj</a>
                    <a class="btn align-middle btn-outline-primary" href="/register/">Rejestracja</a>
                </form>
            {% endif %}


        {% endblock %}
    </nav>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Test samooceny</h1>
                <p class="lead">Odpowiedz na każde pytanie, wybierając odpowiednią liczbę. Aby wyniki były jak
                    najbardziej
                    dokładne, każde pytanie oceń na podstawie najświeższych doświadczeń. Zrób chwilę przerwy i
                    przypomnij sobie
                    swoje ostatnie wspinaczki. Nie analizuj pytań, nie staraj się odgadywać ich intencji - na to
                    przyjdzie czas
                    po ukończeniu testu.</p>
                <p><strong>0</strong> = prawie zawsze
                    <strong>1</strong> = często
                    <strong>2</strong> = przez połowę czasu
                    <strong>3</strong> = czasami
                    <strong>4</strong> = rzadko
                    <strong>5</strong> = nigdy</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                {#<a href="/question/1/" class="btn btn-outline-primary">Rozpocznij</a>#}
                <a href="/testStart/" class="btn btn-outline-primary">Rozpocznij</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <!-- Footer -->
    <div class="container bg-dark text-white rounded navbar fixed-bottom">
        <div class="font-weight-light mx-auto">"Trening wspinaczkowy" Eric J. Horst Copyright© 2017 by Wydawnictwo
            RM
        </div>
    </div>
{% endblock %}


