{% extends 'default/index.html.twig' %}

{%  block content %}

    <div class="container mainContent">
        <div class="row mx-3">
            <div class="col-4">
                <div class="row my-3">
                    {# profile details #}
                </div>
            </div>
            <div class="col-4">
                <div class="col-2">
                    <div class="row my-3">
                        <a class="btn btn-outline-warning" href="users/">Użytkownicy</a>
                    </div>
                    <div class="row">
                        <a class="btn btn-outline-warning" href="tests/">Testy</a>
                    </div>
                    <div class="row my-3">
                        <a class="btn btn-outline-warning" href="questions/">Pytania</a>
                    </div>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>

{% endblock %}