body {
    font-family: 'Lato', sans-serif;
    background-image: url("../akg700.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

button {
    cursor: pointer;
}

.content {
    display: none;
}

.question {
    min-height: 110px;
}

.mainContent {
    display: none;
}

.nums {
    width: 27px;
}

.action {
    width: 126px;
}